header{
    display:flex;
    justify-content: space-between;
    margin: 0px 100px;
    background-color: hotpink;
}
ul{
    display: flex;
    gap: 45px;
    list-style: none;
    
}

a:hover {
    color: #fff;
    background-color: blue;
    
  }
a{
    color: #fff;
    text-decoration: none;
    border: 60px 100px;

}